*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(19, 8, 4);
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 300px;
    font-weight: bold;
}